header h1 {
  font-size: 60px;
  line-height: 14px;
  color: #0e1a35;
  font-weight: 250;
  font-family: Fira Sans;
  text-align: center;
}

.grid-container {
  width: 350px;
  height: 480px;
  box-shadow: 0 0 30px 30px #ecedef;
  display: inline-grid;
  margin-right: 55px;
  margin-left: 55px;
  margin-top: 100px;
  margin-bottom: 100px;
}

h4 {
  font-size: 24px;
  font-family: Fira Sans;
  color: #0e1a35;
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
}

h2 {
  font-size: 72px;
  font-family: Fira Sans;
  color: #0e1a35;
  font-weight: bold;
  line-height: 0.5;
  text-align: center;
}

h2::before {
  content: "$";
}

h2::after {
  content: "/mon";
  font-size: 24px;
  font-family: Fira Sans;
  color: #8492af;
  line-height: 1.5;
}

p {
  font-size: 18px;
  font-family: Fira Sans;
  color: #8492af;
  line-height: 2;
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer button {
  width: 204px;
  height: 48px;
  border-radius: 24px;
  border: 0;
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  background-color: #ef8e70;
}

footer p {
  font-size: 18px;
  font-family: Fira Sans;
  color: #8492af;
  line-height: 2;
  text-align: center;
  margin: 0 235px 0 235px;
}

footer .line {
  margin: 30px;
  width: 226px;
  height: 1px;
  background-color: #8492af;
}

footer .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 60px 0 80px 0;
}

.on {
  color: #ef8e70;
  margin-right: 15px;
}

.off {
  color: #f9538b;
  margin-right: 15px;
}