.google__map {
  background-color: #e0e0e0;
  height: 400px;
  margin-top: 100px;
}

.footer {
  background-color: black;
  height: 250px;
  margin: 0;
}

.contact-box {
  display: flex;

}

.navigation {
  height: 100px;


}

h2 {
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 84px;
  color: #171717;
  font-weight: 500;
  font-family: Fira Sans;
}

p {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 24px;
  color: #787878;
  font-weight: 400;
  font-family: Fira Sans;
}

button {
  padding: 0;
  width: 180px;
  height: 54px;
  background-color: #ef8e70;
  border: 0;
  font-size: 12px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 500;
  font-family: Fira Sans;
  text-transform: uppercase;
}

a {
  font-size: 12px;
  letter-spacing: 1px;
  color: #191919;
  font-weight: 500;
  font-family: Fira Sans;
  text-transform: uppercase;
}

.section_right {
  width: 670px;
  margin-left: 130px;
  margin-top: 25px;
}