header {
  h1 {
    font-size: 60px;
    line-height: 14px;
    color: #0e1a35;
    font-weight: 250;
    font-family: "Roboto";
    text-align: center;
  }
}
.grid-container {
  width: 360px;
  height: 480px;
  box-shadow: 0 0 30px 30px #ecedef;
  display: inline-grid;
  margin-right: 55px;
  margin-left: 55px;
  margin-top: 100px;
  margin-bottom: 100px;
  }

  h4 {
    font-size: 24px;
    font-family: "Roboto";
    color: rgb(14, 26, 53);
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
  }
  h2 {
    font-size: 72px;
    font-family: "Roboto";
    color: rgb(14, 26, 53);
    font-weight: bold;
    line-height: 0.5;
    text-align: center;
  }
  h2::before {
    content: quote($string: "$");
  }
  h2::after {
    content: quote($string: "/mon");
    font-size: 24px;
    font-family: "Roboto";
    color: rgb(132, 146, 175);
    line-height: 1.5;
  }
  p {
    font-size: 18px;
    font-family: "Roboto";
    color: rgb(132, 146, 175);
    line-height: 2;
    text-align: center;
  }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  button {
    width: 204px;
    height: 48px;
    border-radius: 24px;
    border: 0;
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
    background-color: #5584ff;
  }
  p {
    font-size: 18px;
    font-family: "Roboto";
    color: rgb(132, 146, 175);
    line-height: 2;
    text-align: center;
    margin: 0 235px 0 235px;
  }

  .line {
    margin: 30px;
    width: 226px;
    height: 1px;
    background-color: #8492af;
  }
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 60px 0 80px 0;
  }
}
.on {
  color: #5183ff;
  margin-right: 15px;
}
.off{
  color: #f9538b;
  margin-right: 15px;
  
}
